body
{height:100%;
width:100%;
fount-family:sans-serif;
background-image:url('images/Background.jpg');
background-repeat:no-repeat;
background-size:cover;
    height: auto
}
@font-face
{
font-family= Dancing;
   src: url("DancingScript-VariableFont_wght.ttf");
}

.home-name
{
text-shadow: 1px 1px 1px red;

}


#tool{ 
  opacity: 0.5;
background-color:#9FB7C2;
padding:30px;
}

#tool a{padding:30px;}

#to{background-color:burlywood;
border-radius:30px;}


#tool a:hover
{background-color:sandybrown;
color:white;
border-radius:30px;
}


.info:hover
{
transform:scale(1.1);
z-index:1;
box-shadow:0 5px 20px rgba(0,0,0,1)
}
.btn{ opacity: 0.75;
    border-radius: 40px;
    background-color:#9FB7C2;
}

.btn:hover
{background-color:sandybrown;
    
}
.search{
     width: 10%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 40px;
  font-size: 12px;
  background-color: white;
  background-image: url('images/images12/16/help_16px.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 30px;
    
}
